
html {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
html, body, #root, #root > div {
  height: 100%;
  overflow: hidden;
}
.icon:hover{
  transform: scale(1.2);
}
.icon{
  -webkit-transition:all 1s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
}

.extraPiece:hover{
  transform: scale(1.2);
  z-index: 1;
}
.extraPiece{
  -webkit-transition:all 1s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
}

.tab{
  font-family: 'Delius';
}
.cont{
  display:block;
  text-align: center;
  margin: 10px;
}
.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F2EB8D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F2EB8D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.imgPieza:hover{
  border-style: groove;
}

//.imgPiece{
//  cursor: zoom-in; // http://www.rw-designer.com/cursor-detail/12633
//}

.title{
  letter-spacing: 4px;
  text-align: center;
  color: black;
  //color: #93A603;
  font-family: 'Megrim', cursive;
  padding-bottom: 45px;
  font-size: 3.5em;
}

.titlePrint{
  display:none;
}
.imagen11{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100%;
  bottom: 0px;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  width: 700px;
  height: 400px;
}
.imagenCompleta{
  width: 700px;
  height: 400px;
}


div.header_wrapper img {
  width: 71px;
  height: 50px;
  float: left;
  margin-top: 8px;
}

#heading {
  font-size: 30px;
  margin: 8px;
}

#tracking{
  font-size: 18px;
  color: black;
  margin: 8px;
}

#tracking span {
  margin-right: 40px;
}

#logged_user {
  font-size: 18px;
  color: gray;
  margin: 8px;
}
.contenedorExtra{
  display:none !important;
}
.tablePuzzle{
  padding: 1px;
  border-spacing: 0;
  border-collapse: separate;
  border:3px black solid;
  //border:3px #93A603 solid;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 300px;
  //float: left;
}

.tablePuzzle td{
  padding: 0px;
}

.msgPrint{
  display: none;
}

.btnComprobar{
  text-align: center;
}

.tablePrint{
  display: none;
}

.print{
  visibility:hidden;
}

.printInstructions{
  display:none;
}

.attemptsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.attemptsOK{
  max-width: 10%;
  max-height: 10%;
}

.attemptsNOK {
  filter: grayscale(100%);
}

.toolkitContainer{
  text-align: center;
  background-color: #bdffbd;
  border-radius: 40px;
  border: #93A603 4px solid;
  //border: #93A603 4px solid;
  width: 40%;
  margin: 4% auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  //clear: both;
}

.extra td{
  padding: 10px;

}

@import "print.scss";