
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton|Arvo|Baloo+Bhaina|Droid+Sans+Mono|Josefin+Slab|Lato|Roboto|Ubuntu|Volkhov');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
html {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
html, body, #root, #root > div {
  height: 100%;
  overflow: hidden;
}

//Background image
#backgroundImg{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0.5;
}
//Radio image and elements container
#radioContainer{
  position: relative;
  display: flex;
  justify-content: center;
  width:100vw;
  height:100vh;
}
//Light radio ON OFF
#lightOnOff{
  position: absolute;
  top:39vh;
  left:71.5%;
  width:3%;
  height: 5%;
  background-color: red;
  z-index:1;
}
.buttonOn{
  background-color: green !important;
}
.buttonOff{
  background-color: red !important;
}

//Shelving
#shelving{
  position: absolute;
  width:19%;
  height:75%;
  top:22vh;
  left:0%;
  z-index:4;
}
//Cassettes
#cassettesGroup{
  position: absolute;
  flex-direction: column;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  z-index:5;
  width:15%;
  height:34%;
  top:60vh;
  left:1.5%;
  background-color: transparent ;
}

.cassette{
  z-index:5;
  width:90%;
  height: 15%;
  border: black 2px solid;
  //background-color: #D291BC;
  margin: 0.5%;
  transition: transform .2s; /* Animation */
  cursor: pointer;
  border-radius: 5px;
  //opacity: 0.5;
}

.cassette:hover{
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  // transform: translate(250px,0px);
}
#albumTitle{
  z-index:3;
  text-align: center;
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  margin:0 !important;
}

//Random font family
.baloo-bhaina { font-family: 'Baloo Bhaina', cursive; }
.josefin-slab { font-family: 'Josefin Slab', serif; }
.arvo { font-family: 'Arvo', serif; }
.lato { font-family: 'Lato', sans-serif; }
.volkhov { font-family: 'Volkhov', serif; }
.abril-fatface { font-family: 'Abril Fatface', cursive; }
.ubuntu { font-family: 'Ubuntu', sans-serif; }
.roboto { font-family: 'Roboto', sans-serif; }
.droid-sans-mono { font-family: 'Droid Sans Mono', monospace; }
.anton { font-family: 'Anton', sans-serif; }

.artistName{
  z-index:3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.4vw;
}
//Frequency display
#frequencyDisplay{
  position: absolute;
  font-family: monospace;
  font-size: 1.2vw;
  color: white;
  top: 23vh;
  left:28%;
  z-index:3;
}
//Frequency slider
#frequencySlider{
  color: white;
  position: absolute;
  top: 30%;
  left: 30vw;
  width: 36%;
  z-index: 3;
}

.radioOn{
  opacity:1;
}
.radioOff{
  opacity:0.3;
}

// svg{
//   z-index:3;
//   width:300px;
//   height:150px;
// }

svg{
  position: absolute;
  // height: 15% !important;
  top: 16vh;
  left: 68.5%;
  z-index:3 !important;
  width:6vw;
   height:28vh;

}

#volumeRoundSlider{
  position: absolute;
  top:11.3vh !important;
  left:39.3%;
  z-index:3;
}

#volumeRoundSlider svg{
  width:3.5vw !important;
}
//Modification of slider style
.MuiSlider-thumb{
  border-radius: 0px !important;
  height: 100% !important;
  width: 0.5% !important;
  margin-top: -25px !important;
}

.MuiSlider-markLabel{
  color:white !important;
  top: 15px !important;
  font-size: 1vw !important;
}

//Radio image
#radioImg{
  position: absolute;
  width:60vw;
  height:100vh;
  //min-width: 600px;
  //min-height: 600px;
  align-self: center;
  z-index: 2;
}

//Button ON/OFF Radio
#btnOnOff {
  position: absolute;
  width:3%;
  height:7%;
  top:36vh;
  left:74.3%;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  z-index: 3;
}

//Play button
#playButton{
  position: absolute;
  width: 2.5%;
  height: 6.8%;
  cursor: pointer;
  background-color: transparent;
  z-index:5;
  top: 87vh;
  left: 50.3%;
}

#pauseButton{
  position: absolute;
  width: 2.5%;
  height: 6.8%;
  cursor: pointer;
  background-color: transparent;
  z-index:5;
  top: 87vh;
  left: 56%;
}

#nextButton{
  position: absolute;
  width: 2.5%;
  height: 6.8%;
  cursor: pointer;
  background-color: transparent;
  z-index:5;
  top: 87vh;
  left: 53.2%;
}


#prevButton{
  position: absolute;
  width: 2.5%;
  height: 6.8%;
  cursor: pointer;
  background-color: transparent;
  z-index:5;
  top: 87vh;
  left: 47.5%;
}
#muteButton{
   position: absolute;
   width: 2.5%;
   height: 6.8%;
   cursor: pointer;
   background-color: transparent;
   z-index:5;
   top: 87vh;
   left: 44.8%;
 }

#stopButton{
  position: absolute;
  width: 2.5%;
  height: 6.8%;
  cursor: pointer;
  background-color: transparent;
  z-index:5;
  top: 87vh;
  left: 41.8%;
}

//LEDs of buttons
#playLED{
  position: absolute;
  top:82vh;
  left:50.5%;
  width:3%;
  height: 5%;
  background-color: green;
  z-index:1;
}

#stopLED{
  position: absolute;
  top:82vh;
  left:42%;
  width:3%;
  height: 5%;
  background-color: red;
  z-index:1;
}
#muteLED{
  position: absolute;
  top:82vh;
  left:44.5%;
  width:3%;
  height: 5%;
  background-color: yellow;
  z-index:1;
}

#pauseLED{
  position: absolute;
  top:82vh;
  left:55.5%;
  width:3%;
  height: 5%;
  background-color: blue;
  z-index:1;
}

#nextLED{
  position: absolute;
  top:82vh;
  left:53.3%;
  width:3%;
  height: 5%;
  background-color: white;
  z-index:1;
}
#prevLED{
  position: absolute;
  top:82vh;
  left:47.5%;
  width:3%;
  height: 5%;
  background-color: white;
  z-index:1;
}
.ledON{
  opacity: 1;
}
.ledOFF{
  opacity: 0.5;
}

#titleCassetteScreen{
  position: absolute;
  font-family: monospace;
  font-size: 1vw;
  width: 17%;
  height: 6.5%;
  text-align: center;
  color: white;
  top: 66vh;
  left:41.8%;
  text-transform: uppercase;
  z-index:3;
  background: transparent;
  opacity: 0.8;

}

#titleCassette{
  position: absolute;
  font-family: monospace;
  font-size: 1vw;
  width: 13%;
  height: 3.5%;
  text-align: center;
  color: white;
  opacity: 0.5;
  font-style: italic;
  top: 57vh;
  left:43.8%;
  text-transform: uppercase;
  z-index:3;
  background: transparent;

}

//Paper instructions
#paperInstructionsAnimated{
  position: absolute;
  top:12vh;
  left:80.5%;
  width:18%;
  height: 35%;
  cursor: zoom-in;
  background-color: transparent;
  z-index:4;

  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#paperInstructions{
  position: absolute;
  top:12vh;
  left:80.5%;
  width:18%;
  height: 35%;
  cursor: zoom-in;
  background-color: transparent;
  z-index:4;
}


@keyframes blink {
  0%   {opacity: 1}
  50%  {opacity: 0.5}
  100% {opacity: 1}
}

#instructionsImageBackground{
  position: absolute;
  top:0vh;
  left:0%;
  width:100%;
  height: 100%;
  cursor: zoom-out;
  background-color: transparent;
  z-index:5;
}

#instructionsMessage{
  position: absolute;
  top:20vh;
  left:12.5%;
  width:80%;
  height: 60%;
  cursor: zoom-out;
  background-color: transparent;
  z-index:6;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}
#instructionsMessage div{
  //top:28vh;
  //left:12.5%;
  //width:80%;
  //height: 60%;
  //cursor: zoom-out;
  background-color: transparent;
  z-index:6;
  margin: 2vw;

  //display: flex;
  //justify-content: center;
  //align-content: center;
  //align-items: center;
}
#instructionsMessage p, ul, li{
  cursor: zoom-out;
  font-size: 1.4vw;
  font-family: 'Calligraffitti', cursive;
  text-align: justify;
  z-index:6;
}


div.header_wrapper img {
  width: 71px;
  height: 50px;
  float: left;
  margin-top: 8px;
}

#heading {
  font-size: 30px;
  margin: 8px;
}

#tracking{
  font-size: 18px;
  color: black;
  margin: 8px;
}

#tracking span {
  margin-right: 40px;
}

#logged_user {
  font-size: 18px;
  color: gray;
  margin: 8px;
}



