@media print {

    html, body, #root, #root > div {
        height: auto;
        overflow: auto;
      }

    .header_wrapper{
        display: none;
    }

    .puzzleArea{
        display: none !important;
    }


    .printInstructions{
        display:inline-block;
    }


    .imgPiece{
        border: 3px #93A603 dashed !important;
    }

    .msgPrint{
        display: block;
        letter-spacing: 4px;
        text-align: center;
        color: #F2EB8D;
        font-family: "Lucida Console";
        padding: 10px;
        font-size: 2.5em;
    }
    .btnComprobar{
        display: none;
    }



    .intentos{
        display: none;
    }



    .toolkitContainer {
    display: none;
    }

    .contenedorExtra{
        display: flex !important;
    }
    .tablePrint{
        border-spacing: 10px;
        padding: 10px;
        border:3px #93A603 dashed;
        margin :auto;
        text-align: center;
        display: table;
    }
    .tablePrint td{
        margin: 15px;
        padding: 5px;
        border: 2px dashed green;
    }

    .pagebreak{
        page-break-before: always; /* page-break-after works, as well */
    }
    .titlePrint {
        display: block;
    }
    .attemptsOK, .attemptsNOK, .attemptsContainer{
        display: none;
    }
}